a{
    text-decoration: none;
}
.topheader{
    display: flex;
    height: 35px;
    width: 100%;
    background-color: #004a80;
}
.links{
    display: flex;
    width: 80%;
    margin: auto;
    color: #ffffff;
    font-size: small;
}
.links img{
    margin: 0 10px;
}
.socialmedia{
    align-self: center;
    display: flex;
    width: 10%;
}
.contactinfo{
    display: flex;
    width: 60%;
    margin: 0 0 0 290px;
}
.timesheet{
    display: flex;
    width: 10%;
}
.timesheet a{
    color: white;
}
.contactinfo img{
    align-self: center;
    margin: 0px 10px;
    height: 11px;
    width: auto;
}
.spacer{
    margin: 0 20px;
}
.timesheet img{
    align-self: center;
    margin: 0px 10px;
    height: 11px;
    width: auto;
}
.nav{
    height: 174px;
    padding: 50px 0;
    margin: auto;
    background-color: #ffffff;
}
.logo img{
    height: auto;
    width: 183px;
    margin:0px 150px;
}
.nav-links{
    display: flex;
}
.nav-links li{
    margin: 0px 40px;
    padding: 30px 0;
}
.nav-links a{
    color: #393939;
    font-size: medium;
}
.active a{
    color: #004a80;
    font-weight: bold;
}
#navbar{
    background-color: #ffffff;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    height: 80px;
    justify-content: center;
}