.topheader{
    display: flex;
    height: 0.7%;
    width: 100%;
    background-color: #004a80;
}
.links{
    width: 80%;
    margin: auto;
    color: #ffffff;
    font-size: small;
}
.socialmedia{
    display: flex;
    width: 10%;
}
.contactinfo{
    display: flex;
    width: 60%;
}
.timesheer{
    display: flex;
    width: 10%;
}
.nav{
    height: 2.9%;
    width: 100%;
    background-color: #ffffff;
}