.topheader{
    display: flex;
    height: 0.7%;
    width: 100%;
    background-color: #004a80;
}
.links{
    width: 80%;
    margin: auto;
}
.socialmedia{
    display: flex;
    width: 10%;
    justify-content: start;
}
.contactinfo{
    display: flex;
    width: 60%;
    justify-content: center;
}
.timesheer{
    display: flex;
    width: 10%;
    justify-content: end;
}
.nav{
    height: 2.9%;
    width: 100%;
    background-color: #ffffff;
}